
@{
    ViewData["Title"] = "Login To Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Admin</title>
    <link rel="stylesheet" href="css/StyleSheet.css">
    <style>
        .form-submit {
            margin-bottom: 10px;
        }

        .loginhere {
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <div class="main">
        <section class="signup">

            <div class="container">
                <div class="signup-content">
                    <form onsubmit="return loginAdmin()" id="loginAdminForm" class="signin-form">
                        <h2 class="form-title">Login To Dashboard</h2>
                        <div class="form-group">
                            <input name="UserName" type="text" class="form-input" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input name="Password" type="password" class="form-input" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-submit">Login</button>
                        </div>
                        @if (ViewBag.MessageSuccess != null)
                        {
                            <div class="alert alert-success">
                                @ViewBag.MessageSuccess
                            </div>
                        }
                        @if (ViewBag.MessageError != null)
                        {
                            <div class="alert alert-danger">
                                @ViewBag.MessageError
                            </div>
                        }
                    </form>
                    
                </div>
            </div>
        </section>

    </div>
    <script src="~/js/AdminCode.js"></script>
    <script src="~/js/StateCode.js"></script>
</body>
</html>
